.DS_Store
Thumbs.db
ci_ide_helper.php

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

.htaccess

# 设计
设计/*

# 程序日志
log/*

# composer库文件
vendor/*
composer.lock

## 爬虫生成的文件
PhpSpiderTest/data/*

